.saveTeams {
  display: inline-block;
  padding: 0.5em 3em;
  border: 0.16em solid #3f51b5;
  margin: 10px 128px;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  width: 50%;
  height: 10vh;
  background-color: #3f51b5;
  transition: all 0.15s;

  outline: none !important;
}
.saveTeams:hover {
  border-color: #3f51b5;
}

@media all and (max-width: 30em) {
  .saveTeams {
    display: block;
    margin: 0.4em auto;
  }
}
